apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kubernetestest2
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/jk7testorg/k8s-manifest.git
    targetRevision: main
    path: apps/kubernetestest2
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true

      selfHeal: true

